In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn
import pandas as pd

Read the Loan dataset

In [3]:
df = pd.read_csv('/content/sample_data/loan.csv')
df.head()

        id  member_id  ...  total_bc_limit  total_il_high_credit_limit
0  1077501    1296599  ...             NaN                         NaN
1  1077430    1314167  ...             NaN                         NaN
2  1077175    1313524  ...             NaN                         NaN
3  1076863    1277178  ...             NaN                         NaN
4  1075358    1311748  ...             NaN                         NaN

[5 rows x 111 columns]

In [4]:
df.shape

(8643, 111)