In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn
import pandas as pd

Read the Loan dataset

In [20]:
df = pd.read_csv('/content/sample_data/loan.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        id  member_id  ...  total_bc_limit  total_il_high_credit_limit
0  1077501    1296599  ...             NaN                         NaN
1  1077430    1314167  ...             NaN                         NaN
2  1077175    1313524  ...             NaN                         NaN
3  1076863    1277178  ...             NaN                         NaN
4  1075358    1311748  ...             NaN                         NaN

[5 rows x 111 columns]

In [21]:
df.shape

(39717, 111)

Data Cleaning - Delete columns having only null (NA) values

In [22]:
# Check how many columns have all null(NA) values
null_cols = df.columns[df.isna().all()]
null_cols.size # Result 54

# Drop all the columns that have only null(NA) values and replace the dataframe.
df.drop(null_cols, axis=1, inplace=True)
df.shape # Result (39717, 57)

(39717, 57)